@page
@model LimsUI.Pages.StartElisaModel

@{
    
}


<table class="table table-sm border-bottom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Samples[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samples[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samples[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samples[0].Concentration)
            </th>
        </tr>
    </thead>
    <form class="form-group" method="post">
        <div class="d-flex justify-content-center pb-3">
            <input type="submit" value="Starta ELISA" class="btn btn-primary" />
        </div>
    <tbody>
            @foreach (var sample in Model.Samples)
            {
            <tr class="border-bottom">
                <td>@sample.Id</td>
                <td>@sample.Name</td>
                <td>@sample.DateAdded.ToShortDateString()</td>

                    @if (sample.Concentration != null)
                    {
                    <td>@sample.Concentration</td>
                    }
                    else
                    {
                    <td>nd</td>
                    <td class="form-group form-check">
                        <input type="checkbox" name="SelectedIds" value="@sample.Id">
                    </td>
                    }

                    @if (sample.Concentration == null)
                    {
                    }

            </tr>
            }
    </tbody>
    </form>
</table>



@if (Model.Layout != null)
{
<div class="container px-5">
    <table style="table-layout: fixed ; width: 100%;" class="table table-sm border-bottom">
        <thead>
            <tr>
                <th></th>
                @for (int i = 1; i < 13; i++)
                {
                    <th>@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 8; i++)
            {
                <tr class="border-bottom">

                    <th>@Convert.ToChar(i + 65)</th>

                    @for (int j = 0; j < 12; j++)
                    {
                        @if (Model.Layout.Wells[i + (j * 8)].Reagent == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@Model.Layout.Wells[i + (j*8)].Reagent</td>
                        }
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
}
